<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>685687134730-v1jfui231eciaddljnh8tv8juieii67f.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.685687134730-v1jfui231eciaddljnh8tv8juieii67f</string>
	<key>API_KEY</key>
	<string>AIzaSyB8Gjfb-nmwo3bnVuR5aluKyAXk7vfWJsI</string>
	<key>GCM_SENDER_ID</key>
	<string>685687134730</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>novembrz.Rick-Morty</string>
	<key>PROJECT_ID</key>
	<string>rickipedia-5bdcf</string>
	<key>STORAGE_BUCKET</key>
	<string>rickipedia-5bdcf.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:685687134730:ios:b11ef2fdfa05273cb25df3</string>
</dict>
</plist>